<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/pico.min.css')}}">
    <title>Name form</title>
</head>

<body>
    <main class="container">
        <h1>Enter your name</h1>
        <form action="{{ url_for('myform')}}" method="post">
            <label for="firstname">First Name:</label>
            <input type="text" id="firstname" name="fname" placeholder="firstname">
            <br />
            <label for="lastname">Last Name:</label>
            <input type="text" id="lastname" name="lname" placeholder="lastname">
            <br />
            <input type="submit" value="Enter" />
        </form>
    </main>
</body>

</html>