<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/pico.min.css')}}">
    <title>Result info</title>
</head>
<body>
    <main class="container">
        <h1>Your name is {{ full_name }}</h1>
        <a href="{{ url_for('myform')}}">Back to the form</a>
    </main>
</body>
</html>